# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs linguist-language=csharp

# Pawn
*.pwn linguist-language=SourcePawn
*.inc linguist-language=SourcePawn
